@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    break-after: all;
    color-scheme: dark;
    font-family: 'Fira Mono';
}

@media print {
    html,
    body,
    #root {
        color-scheme: none;
    }
}

.scroll-gutter-stable {
    scrollbar-gutter: stable;
}
